@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Prata&display=swap');


*{
    margin: 0%;
    border: 0ch;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --colorcito : pink;
}

body{
    background-color: rgb(226, 226, 233);
    color: rgb(84, 82, 82);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    margin: 0 auto;
}

main{
    background: url('./images/banner2.jpg');
    background-position: center;
    background-size: cover;
    
}



header{
    display: flex;
    justify-content: space-between;
    /* width: 100%;        */
}

nav{
    /* width: 100%;        */
}

.marca-container{
    display: flex;
    align-items: center;
    font-family: 'Prata', serif;
}

.logo{
    width: 100px;
    border: 2px solid gold;
    border-radius: 10%;
    padding: 5px;
    margin-right: 15px;
}


nav, nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }

li{
    list-style: none;
    margin-right: 5px;
    padding: 5px 15px;
}

li:hover .link-menu{
    cursor: pointer;
    background-color: rgb(128, 111, 14);
    font-family: 'Prata', serif;
    color: azure;
    padding: 5px;
    border-radius: 5px;
}

ul li a{
    text-decoration: none;
    color: rgb(114, 120, 51);
}

.name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
}

.name-container P:first-child{
    font-size: 3rem;
    background-color: rgba(7, 7, 7, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
}



.name-container P{
    font-size: 1.8rem;
    background-color: rgba(7, 7, 7, 0.3);
    border-radius: 5px;
}

.name-container button{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(122, 105, 7);
    color: whitesmoke;
}

.name-container button:hover{
    cursor: pointer;
    background-color: rgb(177, 153, 13);
}


/* article with image styles ------------- */

section.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-bottom: 1px solid grey;
    padding-bottom: 40px;
}

section.container article{
    
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

section.container article p{
    margin: 5px;   
}

section.container img{
    border-radius: 5px;
    padding: 5px;
    border: 3px solid rgb(122, 105, 7);
    width: 50%;
}

/* Banner 2 styles ---------- */

section.banner2{
    height: 300px;
    overflow: hidden;
    background: url('./images/banner6.jpg');
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

section.banner2 img{
    border: 1px solid red;
    width: 100%;
}

/* Footer styles ---------- */

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:  rgb(1, 23, 48);
    color: whitesmoke;
    
}

/* media querys */

@media screen and (max-width: 936px ) {
    body{
        font-size: .9rem;
    }

    header{
        flex-direction: column;
        font-size: .8rem;
        text-align: center;
    }

    .name-container p{
        text-align: center;
    }

    .name-container P:first-child{
        font-size: 1.8rem;
        background-color: rgba(7, 7, 7, 0.3);
        padding: 5px 10px;
        border-radius: 5px;
    }

    .name-container p + p{
        color: gold;
    }

    section.container{
        flex-direction: column;
        width: auto;
    }

    section.container article, section.container img{
        width: auto;
        padding: 10px;
    }
    
    

    footer{
        text-align: center;
    }

}